<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inbox</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-item>

      <ion-chip class="peer-id">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Your ID: {{myId}}</ion-label>
      </ion-chip>
      <ion-button  size="small" shape="round" (click)="refreshId()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>

      <ion-input [disabled]="isConnected ? true: null" placeholder="Enter Receiver ID" [(ngModel)]="receiverId"></ion-input>
      <ion-button [disabled]="isConnected ? true: null" size="small" shape="round" color="success" (click)="connect()">
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button [disabled]="isConnected? null: true"  size="small" shape="round" color="danger" (click)="cancel()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>

    <div class="chat-container">

      <div class="messages-box">

        <ion-item *ngFor="let msg of messages" lines="none">

          <ion-chip *ngIf="isMyMessage(msg)" slot="end" class="partner-chip">
            <ion-label color="light">{{msg.content}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="!isMyMessage(msg)" slot="start" >
            <ion-label>{{msg.content}}</ion-label>
          </ion-chip>

        </ion-item>

      </div>


    </div>

  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-item  lines="none">
    <ion-input [(ngModel)]= "messageToSend" spellcheck="true" autoComplete="true" autocorrect="true" placeholder="Write a message.." slot="start" (keyup.enter)="sendMessage()"></ion-input>
    <ion-button [disabled]="isValidMessage()? null: true"  size="small" shape="round" slot="end" (click)="sendMessage()">
      <ion-icon  slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-item>

</ion-footer>


