
.msg-input {
  --background: #F7F7F7;
  border-radius: 15%;

}

.input-toolbar {
  width: 100%;
}


.discussion {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3%;
  display: flex;
  flex-flow: column wrap;
}

.discussion > .bubble {
  border-radius: 1em;
  padding: 0.25em 0.75em;
  margin: 0.0625em;
  max-width: 50%;
}

.discussion > .bubble.sender {
  align-self: flex-end;
  background-color: #1877F2;;
  color: #fff;
}
.discussion > .bubble.recipient {
  align-self: flex-start;
  background-color: #efefef;
}

.discussion > .bubble.recipient.first { border-bottom-left-radius: 0.1em; }
.discussion > .bubble.recipient.last { border-top-left-radius: 0.1em; }
.discussion > .bubble.recipient.middle {
  border-bottom-left-radius: 0.1em;
  border-top-left-radius: 0.1em;
}

.discussion > .bubble.sender.first { border-bottom-right-radius: 0.1em; }
.discussion > .bubble.sender.last { border-top-right-radius: 0.1em; }
.discussion > .bubble.sender.middle {
  border-bottom-right-radius: 0.1em;
  border-top-right-radius: 0.1em;
}