<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{currentContact.name}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="voiceCall()">
                <ion-icon color="primary" slot="icon-only" name="call" ></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon color="danger" slot="icon-only" name="videocam"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content #content>

    <div class="chat-container">


        <div class="discussion">

            <div *ngFor="let chatBubble of chatBubbles" [ngClass]="['bubble', chatBubble.owner, chatBubble.order]">{{chatBubble.content}}</div>


        </div>


    </div>

</ion-content>
<ion-footer class="ion-no-border">

    <ion-toolbar class="input-toolbar">

        <ion-textarea rows="1"  [autoGrow]="true" class="msg-input" [(ngModel)]="messageToSend"
                       placeholder="Write a message.." (keyup.enter)="sendMessage()"></ion-textarea>
    </ion-toolbar>
    <ion-toolbar>

        <ion-buttons slot="end">
            <ion-button (click)="sendMessage()">
                <ion-icon color="primary" slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>




</ion-footer>