<ion-content>

    <ion-toolbar>
        <ion-title>{{currentContact.name}}</ion-title>
    </ion-toolbar>
    <div *ngIf="!activeCall">
        <ion-fab vertical="center" horizontal="end" slot="fixed">
            <ion-fab-button (click) = "answerCall()" color="success">
                <ion-icon name="call"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <ion-fab vertical="center" horizontal="start" slot="fixed">
            <ion-fab-button color="danger" (click) = "refuseCall()">
                <ion-icon name="close"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
    <div *ngIf="activeCall">
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button color="danger" (click) = "hangCall()">
                <mat-icon> call_end</mat-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>
